auto-install-peers=true
strict-peer-dependencies=false
shamefully-hoist=false
prefer-workspace-packages=true
link-workspace-packages=true
shared-workspace-lockfile=true
save-exact=false
save-workspace-protocol=rolling
package-import-method=hardlink
side-effects-cache=true
